torch==2.1.0
numpy==1.26.4
einops
safetensors

transformers==4.31.0
datasets

flask
flask-cors

scikit-learn
joblib
requests

opencv-python
Pillow

beautifulsoup4==4.12.2
wikipedia
wikipedia-api
googlesearch-python
