flask
flask-cors
joblib
scikit-learn
opencv-python
numpy<2.0.0
beautifulsoup4==4.12.2
wikipedia-api
wikipedia
requests
googlesearch-python
click==8.0.4
einops
safetensors
transformers==4.36.2
datasets
